
.list-all {
    display:none;
    background-image: linear-gradient(to bottom right, rgb(146, 217, 250), rgb(242, 253, 227));
}

.nav-bar {
    display: flex;
    width: 100%
}

.logo img {
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: center;
    align-items: center;
    margin: 10px;
}

.logo {
    display: flex;
    flex: 1;
}

.logo-caption {
    display: flex;
    align-items: center;
    color: white;
}

.logo-caption span {
    font-weight: bold;
    font-size: 20px;
}

.add-new {
    display: flex;
    flex-direction: center;
    align-items: center;
}

.add-new button {
    background-color: #3973be;
    border: lightblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
    margin: 10px;
}

.list-container {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
}


.list-container tr{
    border:none;
}

.table .date{
    background-color:rgb(67, 42, 190);
    color: white;
}
.table .title{
    font-weight: bold;
    font-size: 30px;
}
.table li{
    text-align: left;
}
.table input{
    width:50px;
    height: 50px;
}

@media only screen and (max-width:768px) {
    .list-all{
        display: block;
        width: 100%;
    }
   
}